.fstd {
    color: blue;
}

.fnv {
    color: #76b900;
}

.fcomment {
    color: #eb9234;
}

.fstring {
    color: #d669c9;
}

.fpp {
    color: gray;
}

.fintrinsic {
    color: purple;
}

.flog {
    color: #62f2fc;
}