body {
	font-family: Gadugi;
}

h1, h2, h3 {
	color: #555555;
	padding: 0 15% 0 15%;
}

h1 {
	font-size: 40px;
}

.fullwidth, .longwidth, .normalwidth, .footer {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.longwidth, .footer {
	max-width: 1200px;
}

.normalwidth, hr {
	max-width: 800px;
	width: 70%;
}

p, ul, li {
	font-size: 20px;
}

details {
	font-size: 20px;
}

.footer {
	background-color: #fff;
	padding: 0 15% 0 15%;
}

.footer p {
	font-size: 12px;
	margin-top: 0px;
}

.footer img {
	height: 12px;
}

body hr {
	height: 3px;
	background-color: #aaa;
	border-width: 0;
	margin-bottom: 6px;
}