.topnav {
	background-color: #E0E0E0;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #555555;
	text-align: center;
	width: 20%;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd
	color: black;
}

.topnav a.active {
	background-color: #99CCFF;
	color: white;
}