.gallery {
	grid-template-columns: repeat(3, 32.675%);
	display: grid;
	grid-gap: 0.625vw 0.625%;
}

.gallery img {
	width: 100%;
}

.gallery .gallerylabel {
	display: block;
	position: absolute;
	font-size: min(2vw, 23px);
	font-family: Garamond;
	font-weight: bold;
	color: white;
	transform: translate(3%, -120%);
	width: 35%;
	max-width: 390px;
}