.imgtile {
	width: 33.33%;
	display: inline-block;
}

.imgtile img {
	width: 97.5%;
	padding: 1.25%;
	position: relative;
}

.imgtile .label, .imgtile .label {
	display: block;
	position: absolute;
	font-size: min(2vw, 23px);
	font-family: Garamond;
	font-weight: bold;
	color: white;
	transform: translate(3%, -120%);
	width: 35%;
	max-width: 390px;
}

/* extending long width */
.longwidth {
	font-size: 0;
}