				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <header>
                            <h2>The Short Version</h2>
                            <p>A snapshot</p>
                        </header>
                        
                        <p></p>
                        <div class="index align-left">

                            <!-- Text -->
                                <section>
                                    <header>
                                        <h3>Work</h3>
                                    </header>
                                    <div class="content">

                                        <p>I'm currently located in the west-side of Melbourne, living with my partner. I work in the Melbourne CBD at WEHI as a Research Computing Engineer where I support biological science (e.g. bioinformatics) researchers in their use of HPC for their research and providing software engineering support.</p>

                                        <p>I would say I'm an early career specialist in scientific parallel programming frameworks like MPI, OpenMP, and CUDA/HIP; and using and administering HPC systems.</p>

                                    </div>
                                </section>

                            <!-- Heading -->
                                <section>
                                    <header>
                                        <h3>Outside of Work</h3>
                                    </header>
                                    <div class="content">
                                        <p>I've been pretty sporty throughout most of my life, starting off as a swimmer in early life, getting <em>really</em> into cycling late in my undergrad, and throughout my masters. And like many others in Victoria, during the COVID lockdowns, I picked up running. To dust off the list, I love to go on the occasional hike - especially when overseas.</p>
                                        <p>I also grew playing piano (got to 7th Grade AMEB), and will occasionally play for fun. The latest songs I've been trying to learn (currently on pause):</p>
                                        <ul>
                                            <li>Liszt's Liebestraum No. 3</li>
                                            <li>Beethoven's Piano Sonata No. 8, 1st Movement</li>
                                            <li>Moises Nieto's arrangement of Once Upon a December (partner's request)</li>
                                            <li>Hisaishi's Merry-Go-Round of Life (partner's request)</li>
                                            <li>Debussy's Arabesque No. 1</li>
                                        </ul>
                                        <p>These days, I've toned down the sport and piano and have spent more of my time working on coding projects (like this website), as I try to deal with my imposter syndrome and build my tech skills (mostly in a scientific context).</p>
                                    </div>
                                </section>

                        </div>
                    </div>
                </section>
